header {
    background-color: #023e8a;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}
.flight-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}
.flight {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}
footer {
    background-color: #023e8a;
    color: white;
    text-align: center;
    padding: 10px;
}


/* Media query for small screens */
@media (max-width: 768px) {
    nav {
      background-color: #023e8a;
    }
    .flight-grid {
      grid-template-columns: repeat(2, 1fr); /* Show 2 elements per row */
    }
  }
  
  @media (max-width: 480px) {
    .flight-grid {
      grid-template-columns: 1fr; /* Show 1 element per row on very small screens */
    }
  }
  